/* Only demo */
@media (max-width: 1000px) {
  .welcome-message {
    display: none;
  }
}

/* table */
.tbl-wrap:not(:first-child) {
  margin-top: 1rem;
}
.table th.is-bg,
.table td.is-bg {
  background-color: #F5F5F6;
}
.tbl-wrap .tbl-title {
  margin-bottom: 4px;
  font-size: 14px;
  font-weight: 500;
}
.table.tbl-data tr th,
.table.tbl-data tr td {
  text-align: center;
}

/* form elemeent */
.form-group.has-btn {
  display: inline-flex;
  align-items: center;
  gap: .4rem;
  margin-bottom: 0;
}
.form-group.has-btn:has(.form-control) .btn-sm {
  padding: .45rem .5rem;
}
.checkbox-wrap {
  display: flex;
  align-items: center;
  gap: .4rem;
}
.checkbox-wrap label {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 0;
}

/* modal */
.modal .modal-dialog.modal-lg {
  max-width: 1100px;
}
.modal .modal-body {
  overflow-y: auto;
  max-height: 75vh;
}
.modal .tbl-wrap .table {
  background-color: #fff;
}
.modal .modal-footer {
  justify-content: center;
}
.modal .modal-footer .btn {
  min-width: 10rem;
}

.modal .modal-dialog.modal-sm .modal-footer .btn {
  min-width: auto;
  flex: 1;
}